<div class="localeSelector btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span ng-transclude></span>
        <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li data-ng-repeat="locale in languages">
            <a href="#" class="locale-{{ locale }}" data-translate="{{ 'localeSelector.' + locale }}" ng-click="changeLocale(locale)" > 
                 {{ config.languageLabels[locale] || locale }} 
            </a>
		</li>
	</ul>

</div>
